.post-container {
  height: 100%;
  overflow: auto;
}

.post-card {
  margin: 40px;
  background-color: #fff;
}

.post-header {
  font-size: 2em;
  text-align: center;
  padding: 40px;
  text-transform: uppercase;
}

.post-body {
  padding: 50px;
  font-size: 1.4em;
  text-align: justify;
}

@media only screen and (max-width: 1000px) {
  .post-card {
    margin: 20px 10px;
  }

  .post-body {
    padding: 10px;
    text-align: justify;
  }
}
