.footer-container {
  position: fixed;
  bottom: 1.2em;
  right: 1.2em;
  height: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
