.menu-container {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 60vh 10vh;
  grid-template-areas:
    "menu-header"
    "menu-body"
    "menu-footer";
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-area: menu-header;
}

.menu-avatar {
  border: 2px solid #a7adba;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.menu-body {
  grid-area: menu-body;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  line-height: 3em;
}

.menu-footer {
  grid-area: menu-footer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  font-size: 1.5em;
}

.social {
  width: 50%;
}

@media only screen and (max-width: 1000px) {
  .menu-container {
    font-size: 0.8em;
    grid-template-columns: 33fr 33fr 33fr;
    grid-template-rows: 10vh;
    grid-template-areas: "menu-res-header menu-res-body menu-res-footer";
  }

  .menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: menu-res-header;
  }

  .menu-avatar {
    display: none;
  }

  .menu-body {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: menu-res-body;
  }

  .menu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: menu-res-footer;
  }
}
