body {
  margin: 0;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  background-color:rgb(231, 222, 199);
  color: rgb(93, 66, 50);
}

.temp-body {
  padding:15px 15px 2500px;
  font-size:30px
}